.video {
    display: flex;
    justify-content: space-between;    
    padding: 80px 30px 50px;
    margin-top: -70px;
   
}
.video2 {
    display:flex;
    justify-content:space-betwen;
    padding: 80px 30px 50px;
    margin-top: -70;
}